.vs
.git
.duckie2/Duckie2Client/DataFaker/bin
.duckie2/Duckie2Client/.idea/
.duckie2/Duckie2Client/.config/
.duckie2/Duckie2Client/DataFaker/bin
.duckie2/Duckie2Client/DataFaker/obj
.duckie2/Duckie2Client/DialogHost.Avalonia
.duckie2/Duckie2Client/Duckie2Client.Tests/bin
.duckie2/Duckie2Client/Duckie2Client.Tests/obj
.duckie2/Duckie2Client/Duckie2Client.Tests/TestResults
.duckie2/Duckie2Client/bin
.duckie2/Duckie2Client/obj
.duckie2/Duckie2Client/FodyWeavers.xsd