.vs
.git
Duckie2Client/DataFaker/bin
Duckie2Client/.idea/
Duckie2Client/.config/
Duckie2Client/DataFaker/bin/
Duckie2Client/DataFaker/obj/
Duckie2Client/DialogHost.Avalonia/
Duckie2Client/Duckie2Client.Tests/bin/
Duckie2Client/Duckie2Client.Tests/obj/
Duckie2Client/Duckie2Client.Tests/TestResults/
Duckie2Client/bin/
Duckie2Client/obj/
Duckie2Client/FodyWeavers.xsd
Duckie2Client/obj/